# <p style="color:#F62817"><em>Introduction to data science</em></p>

## Assignment 1 task 1 brief

### <u>Note:</u> use this file to add code for rest of the tasks

As a data scientist, you have been given the following data (see the data below) which is in a dictionary format. The data represents information about 10 students who are enrolled in the course 201A. The columns represent the following information:

  | Column name || Description |
  | --- || --- |
  | f_name || First name |
  | l_name || Last name |
  | as1_marks1 || The marks received in AS1 of 201A out of 40 |  
  | as1_marks2 || The marks received in AS2 of 201A out of 60 |
  | year_enrolled || Year of enrolment to BSE program at Yoobee college |
  | email || Personal email |
  | campus || The current campus associated with |
  | mode_delivery || Online or onsite delivery of courses |
  | additional_courses || Other courses a student is registered for in this trimester along with 201A |
  | software_skill || Prior software/tools knowledge |

Construct a data frame and then perform the following tasks:

<b>A) Information Extraction</b>

1) Calculate the average marks for assignments 1 and 2 for all the students. Also, calculate the final/total marks obtained by the students which is calculated as assignment 1 + assignment 2 

2) Extract the first and last names of those students who are not registered in any other additional courses. Note that the marks given in the dataset are for 201A course.

3) Extract the names and campuses of those students having 4 or more software skills

4) Find out which year has the most enrolments

5) The mode of delivery values needs to be changes from True to online and False to onsite 

6) Max Campbell he has applied for a summer internship program. Find if this student is eligible or not. He would be eligible for this internship program if,

    - If the total mark is greater than or equal to 70 in 201A
    - and he is in either Wellington or Auckland campus
    - and he is registered in atleast 1 additional course

<b>B) After performing the above information extraction, you have been asked to insert some additional records as follows:</b>

1) Insert a column of total grade obtained by all the students according to the following rule:

    - 0  <= Total marks < 50  --> 'F' 
    - 50 <= Total marks < 60 --> 'C' 
    - 60 <= Total marks < 70 --> 'B-'
    - 70 <= Total marks < 80 --> 'B+'
    - 80 <= Total marks < 90 --> 'A'
    - 90 <= Total marks < 95 --> 'A-'
    - Total marks >= 95      --> 'A+'

2) Change the name of email to personal_email and insert another column and name it yoobee_email such this this email should have the following format: <i>first_name.lastname</i>@yobeecolleges.com (All in lower case)

3) You have been requested to add two more records in the data frame given below:

    - Marama Nikau	38	50	2021	mn@gmail.com	Wellington	False	1	java,bash,c#,matlab,html
    - Huda Jamal	23	22	2017	hj@gmail.com	Auckland	True	0	css,python
    
<b>C) After performing the above insertion, a few updates/changes need to take place as follows:</b>

1) All Auckland campus students will be considered as Nelson based campus and the mode of delivery would be online whereas Queenstown campus student will be changed to Auckland status with online delivery

2) Ibrahim decided to withdraw from this course and this record should be removed from the data frame. Guess the reason of withdrawal?

<b>D) After all the above updates, regenerate the information required in task (A)</b>

# The actual data

In [1]:
import pandas as pd

#Data frame from dictionary of lists
all_data_dic = {'f_name': ["David","Sarah","Beth","Kim","Suzan","Ibrahim","Max",'David','Sachin','Bing'],
                'l_name': ["Smith","Cornell","Carnaige","Xue","Smith","Hussain","Campbell",'Peter','Singh','Lee'],
                'as1_marks': [37,40,19,12,39,22,34,10,27,32],
                'as2_marks': [21,56,34,52,44,26,60,20,30,45],
                'year_enrolled': [2020,2020,2019,2020,2018,2022,2021,2018,2019,2022],
                'email': ["ds@yahoo.com","SC@hotmail.com","Bc@gmail.com","kx@yahoo.com","sS@yahoo.com",
                         "IH@hotmail.com","mc@hotmail.com","DP@gmail.com","SS@gmail.com","BL@hotmail.com"],
                'campus': ["Auckland","Auckland","Wellington","Nelson","Christchurch",
                          "Wellington","Auckland","Nelson","Christchurch","Napier"],
                'mode_delivery': [True,False,False,False,True,True,False,False,False,False],
                'additional_courses': [2,3,1,2,0,0,2,2,1,2],
                'software_skill': ["python,c++,html","c++,java,vb,css,bash","go,python","matlab,c#","html",
                                  "c#,ptython,go,matlab,sql,java,javascript","Java Script","Python,HTML,others,vb",
                                  "java,c,assembly,bash,html,css,go,Others","javaScript,matlab,c,css"]}

df = pd.DataFrame(all_data_dic)

In [2]:
# Task A1. Calculate the average marks for assignments 1 and 2 for all the students.
df['average'] = (df['as1_marks'] + df['as2_marks'])/2
print("1. Average marks for assignments 1 and 2:")
print(df['average'])

# Calculate the final/total marks obtained by the students which is calculated as assignment 1 + assignment 2
df['total_marks'] = df['as1_marks'] + df['as2_marks']
print("\nTotal marks obtained by the students:")
print(df['total_marks'])

1. Average marks for assignments 1 and 2:
0    29.0
1    48.0
2    26.5
3    32.0
4    41.5
5    24.0
6    47.0
7    15.0
8    28.5
9    38.5
Name: average, dtype: float64

Total marks obtained by the students:
0    58
1    96
2    53
3    64
4    83
5    48
6    94
7    30
8    57
9    77
Name: total_marks, dtype: int64

In [3]:
# Task A2. Extract the first and last names of those students who are not registered in any other additional courses
df_no_course = df[df['additional_courses'] == 0]
df_no_course_names = df_no_course[['f_name', 'l_name']]
print("\n2. Names of students not registered in any other additional courses:")
print(df_no_course_names)

2. Names of students not registered in any other additional courses:
    f_name   l_name
4    Suzan    Smith
5  Ibrahim  Hussain

In [5]:
# Task A3. create a new dataframe containing only the students with 4 or more software skills
software_expert_df = df[df['software_skill'] >= str(4)]

# extract the names and campuses of those students
names_and_campuses = software_expert_df[['f_name', 'l_name', 'campus']]
print("\n3. students with 4 or more software skills")
print(names_and_campuses)

3. students with 4 or more software skills
    f_name    l_name        campus
0    David     Smith      Auckland
1    Sarah   Cornell      Auckland
2     Beth  Carnaige    Wellington
3      Kim       Xue        Nelson
4    Suzan     Smith  Christchurch
5  Ibrahim   Hussain    Wellington
6      Max  Campbell      Auckland
7    David     Peter        Nelson
8   Sachin     Singh  Christchurch
9     Bing       Lee        Napier

In [6]:
# Task A4. find the year with the highest enrolments
year_enrolments = df.groupby(['year_enrolled'])['f_name'].count()
max_year_enrolments = year_enrolments.idxmax()
print(f"\n4. The year with the highest enrolments is {max_year_enrolments}")

4. The year with the highest enrolments is 2020

In [9]:
# Task A5 replace the values under mode_delivery
df['mode_delivery'] = df['mode_delivery'].replace({True: 'online', False: 'onsite'})
print(df)

    f_name    l_name  as1_marks  as2_marks  year_enrolled           email  \
0    David     Smith         37         21           2020    ds@yahoo.com
1    Sarah   Cornell         40         56           2020  SC@hotmail.com
2     Beth  Carnaige         19         34           2019    Bc@gmail.com
3      Kim       Xue         12         52           2020    kx@yahoo.com
4    Suzan     Smith         39         44           2018    sS@yahoo.com
5  Ibrahim   Hussain         22         26           2022  IH@hotmail.com
6      Max  Campbell         34         60           2021  mc@hotmail.com
7    David     Peter         10         20           2018    DP@gmail.com
8   Sachin     Singh         27         30           2019    SS@gmail.com
9     Bing       Lee         32         45           2022  BL@hotmail.com

         campus mode_delivery  additional_courses  \
0      Auckland        online                   2
1      Auckland        onsite                   3
2    Wellington        onsite                   1
3        Nelson        onsite                   2
4  Christchurch        online                   0
5    Wellington        online                   0
6      Auckland        onsite                   2
7        Nelson        onsite                   2
8  Christchurch        onsite                   1
9        Napier        onsite                   2

                             software_skill  average  total_marks
0                           python,c++,html     29.0           58
1                      c++,java,vb,css,bash     48.0           96
2                                 go,python     26.5           53
3                                 matlab,c#     32.0           64
4                                      html     41.5           83
5  c#,ptython,go,matlab,sql,java,javascript     24.0           48
6                               Java Script     47.0           94
7                     Python,HTML,others,vb     15.0           30
8   java,c,assembly,bash,html,css,go,Others     28.5           57
9                   javaScript,matlab,c,css     38.5           77

In [10]:
# Task A6. Filter the dataframe to only include Max Campbell's row
max_campbell = df[(df['f_name'] == 'Max') & (df['l_name'] == 'Campbell')]

# Check if the conditions are met
if (max_campbell['as1_marks'] + max_campbell['as2_marks'] >= 70).bool() \
        and max_campbell['campus'].isin(['Wellington', 'Auckland']).bool() \
        and max_campbell['additional_courses'].any() > 0:
    print("Max Campbell is eligible for the summer internship program.")
else:
    print("Max Campbell is not eligible for the summer internship program.")

Max Campbell is eligible for the summer internship program.

In [11]:
# Task B1. Add a new column with total marks
df['total_marks'] = df['as1_marks'] + df['as2_marks']

# Add a new column with total grade based on total marks
df['total_grade'] = df['total_marks'].apply(lambda x: 'F' if x < 50 else
                                               'C' if x < 60 else
                                               'B-' if x < 70 else
                                               'B+' if x < 80 else
                                               'A' if x < 90 else
                                               'A-' if x < 95 else
                                               'A+')

In [12]:
# Task B2 Rename the 'email' column to 'personal_email'
df = df.rename(columns={'email': 'personal_email'})

# Create the 'yoobee_email' column
df['yoobee_email'] = df.apply(lambda row: f"{row['f_name'].lower()}.{row['l_name'].lower()}@yobeecolleges.com", axis=1)

# Print the updated DataFrame
print(df)

    f_name    l_name  as1_marks  as2_marks  year_enrolled  personal_email  \
0    David     Smith         37         21           2020    ds@yahoo.com
1    Sarah   Cornell         40         56           2020  SC@hotmail.com
2     Beth  Carnaige         19         34           2019    Bc@gmail.com
3      Kim       Xue         12         52           2020    kx@yahoo.com
4    Suzan     Smith         39         44           2018    sS@yahoo.com
5  Ibrahim   Hussain         22         26           2022  IH@hotmail.com
6      Max  Campbell         34         60           2021  mc@hotmail.com
7    David     Peter         10         20           2018    DP@gmail.com
8   Sachin     Singh         27         30           2019    SS@gmail.com
9     Bing       Lee         32         45           2022  BL@hotmail.com

         campus mode_delivery  additional_courses  \
0      Auckland        online                   2
1      Auckland        onsite                   3
2    Wellington        onsite                   1
3        Nelson        onsite                   2
4  Christchurch        online                   0
5    Wellington        online                   0
6      Auckland        onsite                   2
7        Nelson        onsite                   2
8  Christchurch        onsite                   1
9        Napier        onsite                   2

                             software_skill  average  total_marks total_grade  \
0                           python,c++,html     29.0           58           C
1                      c++,java,vb,css,bash     48.0           96          A+
2                                 go,python     26.5           53           C
3                                 matlab,c#     32.0           64          B-
4                                      html     41.5           83           A
5  c#,ptython,go,matlab,sql,java,javascript     24.0           48           F
6                               Java Script     47.0           94          A-
7                     Python,HTML,others,vb     15.0           30           F
8   java,c,assembly,bash,html,css,go,Others     28.5           57           C
9                   javaScript,matlab,c,css     38.5           77          B+

                        yoobee_email
0      david.smith@yobeecolleges.com
1    sarah.cornell@yobeecolleges.com
2    beth.carnaige@yobeecolleges.com
3          kim.xue@yobeecolleges.com
4      suzan.smith@yobeecolleges.com
5  ibrahim.hussain@yobeecolleges.com
6     max.campbell@yobeecolleges.com
7      david.peter@yobeecolleges.com
8     sachin.singh@yobeecolleges.com
9         bing.lee@yobeecolleges.com

In [31]:
#Task B3. Add New Records to dataframe
new_record1 = pd.DataFrame({
    'f_name': ['Marama'],
    'l_name': ['Nikau'],
    'as1_marks': [38],
    'as2_marks': [50],
    'year_enrolled': [2021],
    'personal_email': ['mn@gmail.com'],
    'campus': ['Wellington'],
    'mode_delivery': [False],
    'additional_courses': [1],
    'software_skill': ['java,bash,c#,matlab,html']
})

new_record2 = pd.DataFrame({
    'f_name': ['Huda'],
    'l_name': ['Jamal'],
    'as1_marks': [23],
    'as2_marks': [22],
    'year_enrolled': [2017],
    'personal_email': ['hj@gmail.com'],
    'campus': ['Auckland'],
    'mode_delivery': [True],
    'additional_courses': [0],
    'software_skill': ['css,python']
})

df = pd.concat([df, new_record1, new_record2], ignore_index=True)
df.drop_duplicates(subset=['f_name', 'l_name'], inplace=True)

In [32]:
# Task C1. update Auckland campus to Nelson and Queenstown to Auckland
df['campus'] = df['campus'].replace({'Auckland': 'Nelson', 'Queenstown': 'Auckland'})
df.loc[df['campus'] == 'Nelson', 'mode_delivery'] = 'Online'
df.loc[df['campus'] == 'Auckland', 'mode_delivery'] = 'Online'

#Task C2. remove Ibrahim's record
df = df[df['f_name'] != 'Ibrahim']

In [33]:
df['average'] = (df['as1_marks'] + df['as2_marks'])/2
print("1. Average marks for assignments 1 and 2:")
print(df['average'])

# Calculate the final/total marks obtained by the students which is calculated as assignment 1 + assignment 2
df['total_marks'] = df['as1_marks'] + df['as2_marks']
print("\nTotal marks obtained by the students:")
print(df['total_marks'])

# Task D2. Extract the first and last names of those students who are not registered in any other additional courses
df_no_course = df[df['additional_courses'] == 0]
df_no_course_names = df_no_course[['f_name', 'l_name']]
print("\n2. Names of students not registered in any other additional courses:")
print(df_no_course_names)

# Task D3. create a new dataframe containing only the students with 4 or more software skills
software_expert_df = df[df['software_skill'] >= str(4)]

# extract the names and campuses of those students
names_and_campuses = software_expert_df[['f_name', 'l_name', 'campus']]
print("\n3. students with 4 or more software skills")
print(names_and_campuses)

# Task D4. find the year with the highest enrolments
year_enrolments = df.groupby(['year_enrolled'])['f_name'].count()
max_year_enrolments = year_enrolments.idxmax()
print(f"\n4. The year with the highest enrolments is {max_year_enrolments}")

# Task D5 replace the values under mode_delivery
df['mode_delivery'] = df['mode_delivery'].replace({True: 'online', False: 'onsite'})

# Task D6. Filter the dataframe to only include Max Campbell's row
max_campbell = df[(df['f_name'] == 'Max') & (df['l_name'] == 'Campbell')]

# Check if the conditions are met
if (max_campbell['as1_marks'] + max_campbell['as2_marks'] >= 70).bool() \
        and max_campbell['campus'].isin(['Wellington', 'Auckland']).bool() \
        and max_campbell['additional_courses'].any() > 0:
    print("Max Campbell is eligible for the summer internship program.")
else:
    print("Max Campbell is not eligible for the summer internship program.")
    
    # Count of students per campus
campus_count = df['campus'].value_counts()

# Average marks for each campus
campus_avg_marks = df.groupby('campus')[['as1_marks', 'as2_marks']].mean()

# Total additional courses taken by students per campus
campus_total_courses = df.groupby('campus')['additional_courses'].sum()

# Students with the highest total marks in each campus
campus_top_students = df.groupby('campus').apply(lambda x: x.loc[x['total_marks'].idxmax()])

# Count of students registered for online and onsite delivery
delivery_count = df['mode_delivery'].value_counts()

# Students with the highest total marks for each year enrolled
year_top_students = df.groupby('year_enrolled').apply(lambda x: x.loc[x['total_marks'].idxmax()])

print(df)

1. Average marks for assignments 1 and 2:
0     29.0
1     48.0
2     26.5
3     32.0
4     41.5
6     47.0
7     15.0
8     28.5
9     38.5
10    44.0
11    22.5
Name: average, dtype: float64

Total marks obtained by the students:
0     58
1     96
2     53
3     64
4     83
6     94
7     30
8     57
9     77
10    88
11    45
Name: total_marks, dtype: int64

2. Names of students not registered in any other additional courses:
   f_name l_name
4   Suzan  Smith
11   Huda  Jamal

3. students with 4 or more software skills
    f_name    l_name        campus
0    David     Smith        Nelson
1    Sarah   Cornell        Nelson
2     Beth  Carnaige    Wellington
3      Kim       Xue        Nelson
4    Suzan     Smith  Christchurch
6      Max  Campbell        Nelson
7    David     Peter        Nelson
8   Sachin     Singh  Christchurch
9     Bing       Lee        Napier
10  Marama     Nikau    Wellington
11    Huda     Jamal        Nelson

4. The year with the highest enrolments is 2020
Max Campbell is not eligible for the summer internship program.
    f_name    l_name  as1_marks  as2_marks  year_enrolled  personal_email  \
0    David     Smith         37         21           2020    ds@yahoo.com
1    Sarah   Cornell         40         56           2020  SC@hotmail.com
2     Beth  Carnaige         19         34           2019    Bc@gmail.com
3      Kim       Xue         12         52           2020    kx@yahoo.com
4    Suzan     Smith         39         44           2018    sS@yahoo.com
6      Max  Campbell         34         60           2021  mc@hotmail.com
7    David     Peter         10         20           2018    DP@gmail.com
8   Sachin     Singh         27         30           2019    SS@gmail.com
9     Bing       Lee         32         45           2022  BL@hotmail.com
10  Marama     Nikau         38         50           2021    mn@gmail.com
11    Huda     Jamal         23         22           2017    hj@gmail.com

          campus mode_delivery  additional_courses  \
0         Nelson        Online                   2
1         Nelson        Online                   3
2     Wellington        onsite                   1
3         Nelson        Online                   2
4   Christchurch        online                   0
6         Nelson        Online                   2
7         Nelson        Online                   2
8   Christchurch        onsite                   1
9         Napier        onsite                   2
10    Wellington        onsite                   1
11        Nelson        Online                   0

                             software_skill  average  total_marks total_grade  \
0                           python,c++,html     29.0           58           C
1                      c++,java,vb,css,bash     48.0           96          A+
2                                 go,python     26.5           53           C
3                                 matlab,c#     32.0           64          B-
4                                      html     41.5           83           A
6                               Java Script     47.0           94          A-
7                     Python,HTML,others,vb     15.0           30           F
8   java,c,assembly,bash,html,css,go,Others     28.5           57           C
9                   javaScript,matlab,c,css     38.5           77          B+
10                 java,bash,c#,matlab,html     44.0           88         NaN
11                               css,python     22.5           45         NaN

                       yoobee_email
0     david.smith@yobeecolleges.com
1   sarah.cornell@yobeecolleges.com
2   beth.carnaige@yobeecolleges.com
3         kim.xue@yobeecolleges.com
4     suzan.smith@yobeecolleges.com
6    max.campbell@yobeecolleges.com
7     david.peter@yobeecolleges.com
8    sachin.singh@yobeecolleges.com
9        bing.lee@yobeecolleges.com
10   marama.nikau@yobeecolleges.com
11     huda.jamal@yobeecolleges.com